body{
    overflow-x: hidden;
}

.loader-page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-new-cr{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (max-width: 480px){
    .tableResponsive{
        max-width: 320px;
    }
}